[Unit]
Description=CCC Agent Pull Timer (every 10 minutes)
Requires=ccc-agent.service

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
Unit=ccc-agent.service

[Install]
WantedBy=timers.target
